/**
 * Description: World Cup 2014 - Chrome Extension.
 * Version: 0.1.0
 * Last update: 2014/06/22
 * Author: Breno Polanski <breno.polanski@gmail.com>
 *
 * Summary:
 *
 *	0. ELEMENT
 *		- 0.1. TYPE ELEMENT
 *		- 0.2. TYPE ELEMENT
 *	1. ELEMENT
 *		- 1.1. TYPE ELEMENT
 *		- 1.2. TYPE ELEMENT
 */

/* ==========================================================================
   0. ELEMENT
   ========================================================================== */

/* 0.1. TYPE ELEMENT
   ========================================================================== */

/* 0.2. TYPE ELEMENT
   ========================================================================== */

*, *:before, *:after {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	background: #FFF;
	font-size: 18px;
	color: #29251F;
	width: 300px;
	height: 250px;
}

header {
	height: 50px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #EBEBEB;
}

.container {
	position: fixed;
	width: 300px;
	height: 250px;
	/*border: 1px solid #000;*/
}

.title-cup {
	font-family: 'Francois One', sans-serif;
	font-style: italic;
	font-size: 1rem;
	color: #999;
	text-shadow: 1px 1px #FFF;
	position: absolute;
	top: 15px;
	left: 15px;
}

.img-cup {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 4px;
	right: 15px;
}

main {
	height: 160px;
}

.info {
	text-align: center;
	padding: 10px;
}

.location {
	font-size: 15px;
}

.match {
	height: 150px;
	width: 100%;
	/*border: 1px solid #000;*/
}

.home-team {
	position: absolute;
	top: 120px;
	left: 15px;
}

.home-team-goal {
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 123px;
	left: 125px;
}

.away-team {
	position: absolute;
	top: 120px;
	right: 15px;
}

.away-team-goal {
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 123px;
	right: 125px;
}

.vs {
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 123px;
	left: 146px;
}

footer {
	height: 40px;
	background-color: #FAFAFA;
	border-top: 1px solid #EBEBEB;
}

.about {
	font-size: 12px;
	font-style: italic;
	text-align: center;
	color: #999;
	margin-top: 15px;
}